
body {
  background: url(/images/task_memory.jpg);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
h2 {
	font-family: "nagomi";
	font-size: 50px;
	font-weight: 600;
	color: black;
	letter-spacing: 10px;
	margin-top: 40px;
	display: inline-block;
}
.plus-mark {
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: 0;
}
.task-list {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

/* ホワイトボード風　タイトル　2*/
.status-box {
	position: relative;
	width: 30%;
	height: 550px;
	margin: 10px;
	padding: 3.2em 1em 1em;
	background-color: #fff; /* ボックス背景色 */
	color: #000000; /* 文章色 */
	border: 5px solid #c6c6c6; /* 枠線 */
	box-shadow: 0 0 8px #333, 0 0 2px #555 inset;

	h3 {
		position: absolute;
		top: .6em;
		left: 1em;
		font-weight: bold; /* 太文字 */
		font-size: 20px;
		color: #ff0000; /* タイトル文字色 */
	}
	.status-field {
		height: 450px;
		overflow:auto;
		margin-top: 20px;
	}
}
.status-box::before,
.status-box::after {
	position: absolute;
	content: '';
	bottom: 4px;
	width: 25px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #666;
}
.status-box::before {
	right: 60px;
	border: solid 3px #333; /*飾りペン黒 */
	transform: rotate(2deg); /*飾りペン角度 */
}
.status-box::after {
	right: 22px;
	border: solid 3px #ff0000; /*飾りペン赤 */
	transform: rotate(9deg); /*飾りペン角度 */
}
.task-group {
	width: 96%;
	margin: 5px auto 15px;
	padding: .1em .5em;
	font-weight: bold;
	font-size: 1.1em; /* 文字サイズ */
	color: #ff4747; /* タイトル文字色 */
	background-color: #ffffff; /* ボックス背景色 */
	border: 1px solid #a0a0a0;
	box-shadow: 2px 2px 4px #a0a0a0;
	border-radius: 5px;

	.task-box {
        display: flex;
        .task-check {
	        width: 20px;
	        height: 100px;
	        position: relative;
	        .checkbox {
	        	position: absolute;
	        	top: 35%;
	        	width: 30px;
	        	height: 30px;
	        }
	    }
	    .detail-box {
	    	width: 100%;
	    	color:  #555555;
	    	.title {
	    		margin: 15px 10px 5px;
	    		height: 60%;
	    		overflow: hidden;
	    	}
	    	a {
	    		color: #555555;
	    	}
	    	a:hover {
			    color: #ff4747;
			}
	    	.details {
	    		margin-left: 10px;
	    		font-weight: 400;
	    		a {
	    			float: right;
	    		}
	    	}
	    }
    }
}
a.clear {
    float: right;
}
.modal-content {
  width: 360px;
  height: 360px;
  padding: 5px;
  border-top: solid 20px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  background: white;
}
.modal-form {
  width: 310px;
  margin: 0 auto;
  background-color: white;
  position: relative;

  h3 {
    font-size: 40px;
    font-weight: 300;
  }
  hr {
    border-top: 2px solid #eeeeee;
    margin-top: 15px;
  }
  .field {
    margin-top: 20px;
  }
  input[type=text], input[type=date], textarea {
    background-color: #fff;
    height: 31px;
    width: 300px;
    padding: 3px 7px;
    border-top-color: #949494;
    border-radius: 3px;
    outline: 0;
    transition: all 100ms linear;
    font-family: "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    line-height: 19px;
    color: #111;
    font-weight: 500;
    border: 0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    font-size: 15px;
  }
  input[type=date] {
    width: 200px;
  }
  input[type="text"]:focus, input[type="date"]:focus, textarea:focus {
    box-shadow: 0 0 7px 0 #1dc1d6;
    outline: 0;
  }
  .label-content {
    margin-left: 3px;
  }
  .edit-btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
    position: absolute;
    left: 10px;
    bottom: -60px;
  }
  .edit-btn:hover {
      background: #cbedff;
      color: #FFF;
  }
  .delete-btn {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #f65161;
      border: dashed 1px #f65161;
      background: #ffeff0;
      border-radius: 3px;
      transition: .4s;
      position: absolute;
      left: 90px;
      bottom: -60px;
  }
  .delete-btn:hover {
      background: #FFDDFF;
      color: #FFF;
  }
}
.content2 {
	height: 400px;
}

