
.row {
    width: 80vw;
    margin: 0 auto;
}
nav a:hover {
    text-decoration: none;
    color: black;
}
h2 {
    font-size: 50px;
    font-weight: 300;
    color: black;
    letter-spacing: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.label-box {
    border: 1px solid #f0b8bf;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-right: 10px;

    .img-box {
        width: 200px;
        height: 200px;
        background-color: white;
        text-align: center;
        position:relative;

        img {
            max-width: 200px;
            max-height: 200px;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform : translate(-50%,-50%);
            transform : translate(-50%,-50%);
            text-align: center;
        }
            i {
            font-size: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
.label-box:before{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    z-index: -1;
}
.label-box:after{
    background: repeating-linear-gradient(-45deg, #f5d5da, #f5d5da 5px, #fcf0f1 0, #fcf0f1 10px);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}
.field, .actions {
    margin: 20px;
}
.title_field {
    width: 70vw;
    height: 40px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 20px;
}
.content_field {
    width: 70vw;
    height: 300px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.create-btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.create-btn:hover {
    background: #cbedff;
    color: #FFF;
}
 .delete-btn {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #f65161;
      border: dashed 1px #f65161;
      background: #ffeff0;
      border-radius: 3px;
      transition: .4s;
      margin-left: 40px;
  }
  .delete-btn:hover {
      background: #FFDDFF;
      color: #FFF;
  }
.actions {
    margin-bottom: 50px;
}
input[type="file"] {
    display: none;
}
input#diary_diary_date {
    width: 150px;
    height: 40px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
@media screen and (max-width: 1024px) {
    .diary-head {
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    h2 {
        font-size: 40px;
    }
}



