
.container {
	width: 96vw;
	margin: 0 auto;
}
nav a:hover {
	text-decoration: none;
	color: black;
}
.diary-main {
	width: 70%;
	margin: 0 auto;

	h2 {
		margin: 50px 10px 30px;
		white-space: pre-line;
   		word-wrap: break-word;
	}
	.slider {
		max-width: 800px;
		height: 500px;
		margin: 0 auto;
		position:relative;

		img {
		    border: 5px solid #fff;
		    display: block;
		    max-width: 96%;
		    max-height: 96%;
		    text-align: center;
		    position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform : translate(-50%,-50%);
            transform : translate(-50%,-50%);
		}
	}
	.diary-content {
		margin: 50px 5%;
		font-size: 15px;
		p {
			white-space: pre-line;
   			word-wrap: break-word;
		}
	}
	.detail {
		text-align: right;
		margin-bottom: 30px;
		.favorite {
			margin-right: 20px;
		}
	}
	.user-info {
		height: 40px;
		border-top: 1px solid #D3D3D3;
		border-bottom: 1px solid #D3D3D3;
		.name {
			margin: 3px;
			margin-left: 30px;
			float: left;
		}
		#follow_form {
			width: 100px;
			margin: 3px;
			float: left;
			.btn {
				color: #00CCFF;
			}
			.btn1 {
				color: #FF69A3;
			}
		}
		.btn2 {
			margin-top: 3px;
		}
	}
	.comment-form {
		margin: 30px;
		.comment-field {
			width: 80%;
			padding-left: 10px;
			border: 0;
			border-bottom: 2px solid #D3D3D3;
			font-size: 15px;
		}
		button {
			color:#0070be;
			border: 0;
			font-size: 15px;
		}
	}
	.comment-li {
		margin-bottom: 50px;
		.comment {
			border-bottom: 2px solid #D3D3D3;
			margin-bottom: 30px;
			margin-left: 10px;
			white-space: pre-line;
			word-wrap: break-word;
		}
	}
}
.slick-list, .slick-track {
    height: 100%;
}
.preview {
    text-align: center;
    position:relative;

    img {
        max-width: 90vw;
        max-height: 90vh;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
	.diary-main {
		width: 100%;
		.slider {
			width: 100%;
			img {
			    max-width: 80vw;
	    		max-height: 80vh;
			}
		}
		.comment-form {
			.comment-field {
				width: 90%;
			}
		}
	}
}
@media screen and (max-width: 425px) {
	.diary-main {
		width: 100%;
		.slider {
			width: 100%;
			img {
			    max-width: 90vw;
	    		max-height: 90vh;
			}
		}
		.comment-form {
			.comment-field {
				width: 90%;
			}
		}
	}
}





