// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// common
nav a:hover {
    color: black;
}
a:active, a:hover {
    text-decoration: none;
}
.admin_form {
	width: 300px;
	margin: 60px;

	h2 {
		margin-bottom: 20px;
	}
	.field, .actions {
		margin-top: 10px;
	}
	.actions {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.btn {
	    display: inline-block;
	    margin-bottom: 0;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    cursor: pointer;
	    background-image: none;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.428571429;
	    border-radius: 4px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.btn-dark {
	    color: #fff;
	    background-color: #343a40;
	    border-color: #343a40;
	}
}
// edit
.edit-page {
	h2 {
		margin-top: 40px;
		margin-left: 10px;
	}
	.preview {
		width: 150px;
		height: 150px;
	}
	label {
		width: 150px;
	}
	.btn {
	    display: inline-block;
	    margin-bottom: 0;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    cursor: pointer;
	    background-image: none;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.428571429;
	    border-radius: 4px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.btn-dark {
	    color: #fff;
	    background-color: #343a40;
	    border-color: #343a40;
	}
}
// index
.index-page {
	margin-left: 20px;
	h2 {
		margin-top: 40px;
	}
	.table {
		display: inline-block;
	}
	.table2 {
		display: none;
	}
	.id-th {
		width: 40px;
	}
	.date-th {
		width: 100px;
	}
	.image-th {
		width: 50px;
	}
	img {
		width: 30px;
		height: 30px;
	}
	td {
		line-height: 35px !important;
	}
}
// user-index
.user-index {
	margin-left: 20px;

	h2 {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.table {
		display: inline-block;
	}
}
@media screen and (max-width: 425px) {
	.index-page {
		margin-left: 5px;
		margin-right: 5px;

		.table {
			width: auto;
		}
		.table1 {
			display: none;
		}
		.table2 {
			display: block;
		}
	}
}