/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

@font-face{
   font-family: "azuki";
   src: font-url('azukiB.ttf') format('truetype');
 }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
	list-style: none;
}
// home header
.header-box {
	height: 80px;
}
.title-box {
	position:relative;
	width: 220px;
	margin: 0 auto;

	a {
		color: black;
	}
	img {
		margin-top: 30px;
	}
	.app-title {
		position:absolute;
		top: 38px;
		left: 38px;
		font-size: 35px;
	}
}

// default header
.header1 {
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	height: 55px;
}
nav {
	height: 50px;
	padding: 10px 20px 0;

	ul {
		display: -webkit-flex;
		display: flex;
		align-items: center;

		.home-li {
			width: 200px;
			margin: 0 20px;
			padding-top: 0px;
		}

		.home1 {
			position:relative;
			.logo1 {
				position:absolute;
				top: -21px;
				left: 4px;
			}
			.logo2 {
				position:absolute;
				top: -18px;
				left: 20px;
			}
			.app-title1 {
				position:absolute;
				width: 100px;
				top: -5px;
				left: 35px;
				font-size: 20px;
				color: #444444;
			}
			.app-title1:hover {
				color: #444444;
			}
		}
		li {
			font-size: 17px;
			margin: 0 15px;
			padding-top: 18px;
			position:relative;
			min-width: 100px;
			text-align: center;
			color: #444444;
		}
		li:last-child {
		  	margin-right: 40px
		}
		li:before, li:after{
		  position: absolute;
		  top: 39px;
		  content: "";
		  display: inline-block;
		  width: 0;
		  height: 2px;
		  background: #F30034;
		  transition: 0.5s;
		}
		li:before{
		  left: 50%;
		}
		li:after{
		  right: 50%;
		}
		li:hover:before,li:hover:after{
		  width: 50%;
		}
		li ul {
			display: none;
			position: absolute;
			list-style: none;
			width: 260px;
			z-index: 10;
			right: 0.1px;
			text-align: center;
			background: rgba(0,0,0,0.3);
			border-radius: 0 0 15px 15px;
			margin-top: 3px;

			li {
				height: 50px;
				margin: 0px auto;
				width: 180px;
				text-align: center;
			}
			li:first-child {
			  	margin-top: 5px;
			  	border-top-left-radius: 15px;
			}
			li:last-child {
			  	border-radius: 0 0 15px 15px;
			  	margin-bottom: 10px;
			}
			li a {
			  	border-bottom: 1px solid #eee;
			  	color: white;
			}
		}
	}
	a {
		color: black;
	}
	a:hover {
		text-decoration: none;
		color: white;
	}
}
// header h3 {
// 	margin: 0px;
// 	line-height: 60px;
// }
// .nav {
// 	height: 60px;
// 	width: 100vw;
// 	background-color: palegoldenrod;

// 	li:last-child {
// 	  	margin-right: 40px
// 	}

// 	a {
// 		margin: 0 15px;
// 		display: block;
// 		padding: 20px !important;
// 		text-decoration: none;
// 	}
// 	li > a:hover, li > a:focus {
// 	    text-decoration: none;
// 	    background-color: white;
// 	}
// }



// body
body {
	min-height: 600px ;
	position: relative;
}
.alert {
	position: absolute;
	top: 80px;
	right: -100vw;
	text-align: center;
	z-index: 1000;
}
// a:hover, a:focus {
//     text-decoration: none;
// }
// :focus {
//     outline: -webkit-focus-ring-color auto 0px !important;
// }

// // timer
// #countDownWrap {
//    margin:50px auto;
//    width:1000px;
//    text-align:center;
// }
// .countDown {
//    margin:0 0 15px;
//    font-size:150px;
//    line-height:1;
//    text-align:center;
//    font-family: 'Oswald', sans-serif;
// }




