/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

// header
header {
	background-color: #E0FFFF;
	height: 60px;
}
header h3 {
	margin: 0px;
	line-height: 60px;
}
.nav {
	height: 60px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;

	li:first-child {
	  	margin-right: auto;
	}

	li:last-child {
	  	margin-right: 40px
	}

	a {
		margin: 0 15px;
		display: block;
		padding: 20px !important;
		text-decoration: none;
	}
	li > a:hover, li > a:focus {
	    text-decoration: none;
	    background-color: white;
	}
}

.nav li ul {
	display: none;
	position: absolute;
	list-style: none;
	width: 120px;
	z-index: 10;

	li {
		color: olive;
		background: #afc6e2;
	}
	li:last-child {
	  	margin-right: 0px
	}
	li a {
	  	border-top: 1px solid #eee;
	}
}

// body
body {
	width: 100% ;
	min-height: 600px ;
}
a:hover, a:focus {
    text-decoration: none;
}


