// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-slider {
	width: 100vw;
	height: 82vh;
	position:relative;
	margin-top: 30px;

	.home-title {
		font-size: 60px;
		font-weight: 300;
	}
	.subtitle {
		font-size: 20px;
		margin-top: 20px;
	}
	.home-subtitle {
		font-size: 20px;
		margin-top: 25px;

		a {
			margin: 0 20px;
			color: black;
		}
		a:hover {
			color: red;
		}
	}

	.text-field {
		position:absolute;
		top: 20vh;
		right: 20vw;
		text-align: center;

		.memory-li {
			margin-top: 30px;
			text-align: left;
			list-style-type: disc;
			margin-left: 70px;

			li {
				margin-top: 15px;
				font-size: 20px;
			}
		}
	}
	.text-field2 {
		position:absolute;
		top: 15vh;
		left: 12vw;
		text-align: center;

		.task-li {
			margin-top: 30px;
			text-align: left;
			list-style-type: disc;
			margin-left: 70px;

			li {
				margin-top: 15px;
				font-size: 20px;
			}
		}
	}
}
.home-slider img {
    display: block;
    width: 100%;
    height: 100%;
}
.slick-list, .slick-track {
    height: 100%;
}
@media screen and (max-width: 768px) {
	.home-slider {
		.top-page {
			top: 10vh;
	    	right: 10vw;
		}
		.top-page3 {
			color: #FF6928;
			a {
				color: #FF6928;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.home-slider {
		.top-page h3 {
			font-size: 40px;
		}
		.top-page2 {
			left: 0;
			width: 90%;
			margin-left: 5%;
			h3 {
				font-size: 40px;
			}
			.task-li li {
				font-size: 15px;
			}
		}
		.top-page4 {
			h3 {
				font-size: 40px;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.home-slider {
		.top-page3 {
			top: 8vh;
			right: 8vw;
			h3 {
				font-size: 40px;
			}
			.memory-li li {
				font-size: 15px;
			}
		}
	}
}
@media screen and (max-width: 425px) {
	.home-slider {
		.top-page {
			color: white;
			a {
				color: white;
			}
		}
		.top-page2 {
			color: #008800;
			top: 10vh;
			a {
				color: #008800;
			}
		}
		.top-page4 {
			.task-li li {
				font-size: 15px;
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.home-slider {
		.top-page4 {
			.home-subtitle {
				font-size: 15px;
			}
		}
	}
}



